<a href="https://colab.research.google.com/github/sivasai1412/Python/blob/master/26_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Find the large number from given 3 numbers

In [3]:
x=int(input("enter the x value"))
y=int(input("enter the y value"))
z=int(input("enter the z value"))
if x>y and x>z:
  print(x,"is greater")
elif y>z and y>x:
  print(y," is greater")
else:
  print(z," is greater")

enter the x value2
enter the y value3
enter the z value1
3  is greater

# While Statements:
### Syntax:
        while Boolean_condition: <br>
            statements <br>
            increment / decrement <br>

In [4]:
x=1
while x<=5:
  print("gitam")
  x=x+1

gitam
gitam
gitam
gitam
gitam

## print n natural number using while loop

In [9]:
n=int(input("enter n value"))
x=1
while x<=n:
  print(x,end="  ")
  x=x+1

enter n value10
1  2  3  4  5  6  7  8  9  10

In [14]:
n=int(input("enter the n value"))
x=1
sum=0
while x<=n:
  if x%2==0:
    sum=sum+x
  x=x+1  
print(sum)

enter the n value10
30

In [27]:
n=int(input("enter the value"))
while n>0:
  r=n%10
  print(r,end=" ")
  n=n//10

enter the value123
3 2 1

# Functional programming
- simple 
- easy read
- lengthy program divides into sub programs

## Syntax:
##### def nameofthefunction( parameters ): 
         statements 
         return

In [28]:
def addevendigit(n):
  sum=0
  while n>0:
    r=n%10
    if r%2==0:
      sum=sum+r
    n=n//10
  return sum
addevendigit(1234)

6

In [35]:
def revanumber(n):
  while n>0:
    r=n%10
    print(r,end="")
    n=n//10
revanumber(123)

321

In [45]:
def largedigit(n):
  x=0
  while n>0:
    r=n%10
    if r>x:
      x=r
    n=n//10
  return x  
    
largedigit(19528)

9

In [49]:
def palin(n):
  rev=0
  y=n
  while n>0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if y==rev:
    return "yes"
  else:
    return "no"
print(palin(123))
print(palin(121))

no
yes

In [62]:
def numbe(n):
  for i in range(1,n+1):
     print(i)
numbe(10)

1
2
3
4
5
6
7
8
9
10

In [58]:
n=10
for i in range(1,n):
  print(i)

1
2
3
4
5
6
7
8
9

In [63]:
def nat(m,n):
  for i in range(m,n+1):
    print(i)
nat(11,15)

11
12
13
14
15

In [76]:
def palin(n):

#n=int(input("enter n value"))
  temp=n
  rev=0
  while(n>0):
      dig=n%10
      rev=rev*10+dig
      n=n//10
  if(temp==rev):
      print("The number is  palindrome")
  else:
      print("The number not  palindrome",rev,temp)
      temp=temp+rev
      print(temp)
palin(705)
palin(temp)

The number not  palindrome 507 705
1212
The number not  palindrome 708 807
1515

# List:
- its one common data structure in python ,the items are separated by comma and enclosed by
- crud operations
* c-create
* r-read
* u-update
* d-delete
* list can be changed or immutable
# example:
- list =[1,2,3,4]

In [96]:
def palin(n):
  rev=0
  y=n
  while n>0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if y==rev:
    print("yes")
  else:
    print("no")
    z=y
    z=z+rev
    n=z
    print(n)
print(palin(345))
print(palin(n))

no
888
None
yes
None

In [94]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[-1])

[1, 2, 3, 4, 5]
1
5