<a href="https://colab.research.google.com/github/sivasai1412/Python/blob/master/28_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
str="pynative"
print(str.split())
li=list(str)
print(li)
print(li[::2])

['pynative']
['p', 'y', 'n', 'a', 't', 'i', 'v', 'e']
['p', 'n', 't', 'v']

In [12]:
li=[1,2,3,4,5,6,7,1]
print(li[::-1])
if li[0]==li[-1]:
  print("true")
else:
  print("false")

[1, 7, 6, 5, 4, 3, 2, 1]
true

In [32]:
n=5
for i in range(1,n+1):
  for j in range(0,i):
    print(i,end=" ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [34]:
name=int(input("enter your name"))
age=int(input("enter the age"))
age=name-age
age=age+100
print(name,"will be 100 years old in the ",age)

enter your name2014
enter the age25
2014 will be 100 years old in the  2089